*{
    padding: 0;
    margin: 0;
}

/* navbar style here  */
.background {
    background-color: rgb(206, 206, 206);
}
.textend{
    margin-left: 55%;
}
.nav-item a{
    color: rgb(94, 94, 94)!important;
    font-size: 1rem;
    font-family: 'Exo', sans-serif;
    transition: 0.5s all ease-in-out;
}
.nav-item a:hover{
    color: rgb(5, 5, 5)!important;
}
/* navbar srtyle here  */

/* main-header  */
.fontsize{
    font-size: 200px!important;
    font-family: 'Exo', sans-serif;
    color: rgb(206, 206, 206);
    text-shadow: 2px 2px 100px rgb(153, 153, 153);
}

.main-header{
    padding-bottom: 100PX;
    position: relative;
}
.img1{
    position: absolute;
    top: 35%;
    bottom: 0;
    right: 0;
    left: 42%;
}
.img2{
    position: absolute;
    top: 85%;
    bottom: 0;
    right: 0;
    left: 37%;
}

.margin2{
    margin-top: 260px!important;
    font-family: 'Exo', sans-serif;
}
.font{
    font-size: 12px;
    line-height: 30px;
}

.text-contant{
    width: 500px;
    position: absolute;
}

.bg-color{
    background-color: rgb(161, 59, 11);
}

.text1 h2{
    font-family: 'Exo', sans-serif;
}
.text h3{
    font-family: 'Exo', sans-serif;
}

.margin{
    margin-top: 180px!important;
}
.padding{
    padding-bottom: 325px;
}

.text-contant2{
    width: 40%;
    position: absolute;
    top: 750px;
    left: 48px;
}

.text-contant3{
    width: 40%;
    position: absolute;
    top: 910px;
    right: 35px;
}
.image1{
    width: 22%;
    background-color: rgb(156, 156, 156);
    position: absolute;
    top: 860px;
    left:39%;
}
/* main-header  */


/* content section  */
.body-1-bg{
    background-color: crimson;
}
.content{
    position: relative;
}
.top-content h2{
    padding: 100px 20%;
    color: rgb(223, 223, 223);
    font-family: 'Exo', sans-serif;
    font-size: 130px;
    font-weight: 900;
}
.img3{
    position: absolute;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
}
.img4{
    position: absolute;
    top: 600px;
    bottom: 0;
    right: 0;
    left: 0;
}
.img5{
    position: absolute;
    top: 650px;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-conten3 h3{
    font-family: 'Exo', sans-serif;
}
.main-conten3 p{
    padding: 0px 32%;
}
.button2 a{
    font-weight: bold!important;
    color: #ffffff!important;
}
/* content section  */

/* collection strt */

.body-three-img-size{
    width: 300px!important;
    

}
.absolute-div{  
    background-color: #ffffff;
    width: 50%;
    height: 350px;
    position: absolute;
    right: 50%;
    left: 24%;
    top: 2200px;
    box-shadow: 0px 0px 10px #000;
}
.absolute-img h5{
    padding-top: 20px;
    text-align: center;
    color: grey;
    font-size: 18px;
}
.absolute-img img{
    padding: 50px;
    width: 350px;
}
.absolute-text-1 h2{
    /* padding-top: 50px; */
    overflow: visible;
    padding: 0% 18% 0 0;
    color: grey;
    font-size: 36px;
}
.absolute-text-2 h2{
    padding: 0% 0 0 18%;
    overflow: visible;
    text-align: right;
    color: grey;
    font-size: 36px;
}

/* collection ends */

.footer{
    position: relative;
}
.footer img{
    opacity: 0.5;
    border-radius: 10px;
}

.footer-text-absolute{
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
}
/* .footer-text-absolute h2{
    color: #ffffff;
} */
.footer-text-absolute span{
    padding: 10px 3%;
    font-size: 22px;
}
.footer-text-absolute span a{
    color: #000;
}